@import '../../App.scss';

.nav-bar {
    background: $primary_color;
    width: 4rem;
    height: 100%;
    position: fixed;
    z-index: 2;
    min-height: 500px;
}

.logo {
    color: $secondary_color;
    font-size: 7pt;
    width: 4rem;
    margin-top: 2rem;
    text-decoration: none !important;
}

.logo svg {
    transform: scale(1.75);
    text-align: center;
}

a {
    color: $secondary_color !important;
    transform: scale(1.75);
}

a:hover {
    color: $white_text !important;
}

a.active {
    color: $white_text !important;
}

.smallLinkIcon {
    transform: scale(1.5);
    padding: 8px;
}